@media screen and (min-width: 960px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #160D24;
        color: #F5F5F5;
        margin: 0;
        padding: 0;
    }

    header {
       background: linear-gradient(to right, #6700ED, #1900ED);
       color: #F5F5F5;
        padding: 30px;
        text-align: center;
    }

    .profile-photo {
        width: 300px;
        height: auto;
        max-width: 100%;
    }

  .piano-video {
    width: 400px;
    max-width: 100%;
    height: auto;
}

article {
    background-color: #251438;
    padding: 20px;
    margin-bottom: 20px;
}

article h3 {
    color: #ED66D7;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #160D24;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        display: block;
        color: #ED66D7;
        text-align: center;
        padding: 14px 16px;
    }

    nav ul li a:hover {
    background-color: #1900ED;
    color: #F5F5F5;
    }

    main {
        padding: 40px;
        clear: both;
    }

    main section {
        background-color: #251438;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    main h2 {
        color: #ED66D7;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .home-column {
    float: left;
    width: 46%;
    margin: 2%;
    min-height: 180px;
    box-sizing: border-box;
    }

    .clear {
    clear: both;
    }
       
    footer {
    background: linear-gradient(135deg, #6700ED, #B400ED);
    color: #F5F5F5;
    text-align: center;
    padding: 10px;
    }

    form {
    background-color: #251438;
    padding: 20px;
    }

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    }

form input,form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    }

form input[type="submit"] {
    width: auto;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #6700ED;
    color: #F5F5F5;
    border: none;
    }


}