@media screen and (min-width: 960px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #160D24;
        color: #F5F5F5;
        margin: 0;
        padding: 0;
    }

    header {
       background-color: #6700ED;
       color: #F5F5F5;
        padding: 30px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #160D24;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        display: block;
        color: #ED66D7;
        text-align: center;
        padding: 14px 16px;
    }

    nav ul li a:hover {
        background-color: #1900ED;
    color: #F5F5F5;
    }

    main {
        padding: 20px;
    }

    main section {
        background-color: #251438;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    main h2 {
        color: #ED66D7;
    }

    footer {
       
       background-color: #6700ED;
    color: #F5F5F5;
        text-align: center;
        padding: 10px;
         }
}