@media screen and (max-width: 480px) {

    body {
        font-family: Arial, sans-serif;
        background-color: #160D24;
        color: #F5F5F5;
        margin: 0;
        padding: 0;
    }

    header {
        background: linear-gradient(to right, #6700ED, #1900ED);
        color: #F5F5F5;
        padding: 20px;
        text-align: center;
    }

    .profile-photo {
        width: 200px;
        height: auto;
        max-width: 100%;
    }

   .piano-video {
    width: 100%;
    height: auto;
}

article {
    background-color: #251438;
    padding: 15px;
    margin-bottom: 10px;
}

article h3 {
    color: #ED66D7;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #160D24;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        display: block;
        color: #ED66D7;
        text-align: center;
        padding: 16px;
        font-size: 18px;
        text-decoration: none;
    }

    nav ul li a:hover {
        background-color: #6700ED;
        color: #F5F5F5;
    }

    main {
        padding: 10px;
        font-size: 16px;
    }

    main section {
        background-color: #321A4F;
        padding: 15px;
        margin-bottom: 10px;
    }

    main h2 {
        color: #D8B4FE;
    }

    footer {
    background: linear-gradient(135deg, #6700ED, #B400ED);
    color: #F5F5F5;
    text-align: center;
    padding: 10px;
    }
}